[submodule "simulator/Moola---Multicore-Cache-Simulator"]
	path = simulator/Moola---Multicore-Cache-Simulator
	url = git@github.com:fernandomosquera/Moola---Multicore-Cache-Simulator.git
[submodule "simulator/dynamorio"]
	path = simulator/dynamorio
	url = git@github.com:DynamoRIO/dynamorio.git
